create DATABASE analytics;

create table analytics.hourlysummary(
id VARCHAR(10) NOT NULL,
dateTime DATETIME NOT NULL,
steps INT(11) NOT NULL,
distance FLOAT NOT NULL,
elevation FLOAT NOT NULL,
calories FLOAT NOT NULL,
floors FLOAT NOT NULL,
pulse INT(11) NOT NULL,
activemins FLOAT NOT NULL,
bp VARCHAR(20) NOT NULL,
PRIMARY KEY (id, dateTime)
);

create table analytics.dailysummary(
id VARCHAR(10) NOT NULL,
date DATE NOT NULL,
steps INT(11) NOT NULL,
distance FLOAT NOT NULL,
elevation FLOAT NOT NULL,
calories FLOAT NOT NULL,
floors FLOAT NOT NULL,
pulse VARCHAR(20) NOT NULL,
activemins FLOAT NOT NULL,
bp INT(11) NOT NULL,
PRIMARY KEY (id, date)
);

create table analytics.localsummary(
ip VARCHAR(20) NOT NULL,
date DATE NOT NULL,
steps INT(11) NOT NULL,
distance FLOAT NOT NULL,
elevation FLOAT NOT NULL,
calories FLOAT NOT NULL,
floors FLOAT NOT NULL,
pulse INT(11) NOT NULL,
activemins FLOAT NOT NULL,
bp VARCHAR(20) NOT NULL,
PRIMARY KEY (ip, date)
);
